@use 'variables'

*
    box-sizing: border-box
    font-family: variables.$font-primary

body
    font-family: variables.$font-primary
    font-size: 16px

    .comments
        background: variables.$section-bg
        padding: 1.5rem 1rem
        display: flex
        flex-direction: column
        gap: 1rem

        &-containers
            background: variables.$container-bg
            border-radius: 6px
            padding: 1rem 0.8rem
            display: flex
            flex-direction: column
            gap: 1rem

            &-user
                display: flex
                align-items: center
                gap: 1rem

                &-image
                    width: 2.5rem

                &-name
                    color: variables.$font-primary-color
                    font-weight: 700

                &-post-date
                    color: variables.$font-secondary-color

            &-text
                &-content
                    color: variables.$font-secondary-color
                    line-height: 1.4rem

            &-reacts
                display: flex
                justify-content: space-between

                &-rating
                    background: variables.$section-bg
                    padding: 0.5rem
                    border-radius: 10px
                    display: flex
                    align-items: center
                    gap: 0.5rem

                    &-button
                        background: none
                        border: none
                        cursor: pointer

                        .plus
                            padding: 0.3rem
                            background-image: url('/assets/image/icon-plus.svg')
                            background-repeat: no-repeat
                            background-position: center

                        .minus
                            padding: 0.3rem
                            background-image: url('/assets/image/icon-minus.svg')
                            background-repeat: no-repeat
                            background-position: center

                    &-score
                        color: variables.$font-tertiary-color
                        font-size: 15px
                        font-weight: 500

                &-reply-button
                    background: none
                    border: none
                    cursor: pointer
                    color: variables.$font-tertiary-color
                    font-weight: 500
                    font-size: 15px

                    .arrow
                        padding: 0.5rem
                        margin-right: 0.3rem
                        background-image: url('/assets/image/icon-reply.svg')
                        background-repeat: no-repeat
                        background-position: center

        &-recoil
            border-left: 2px solid variables.$boder-color
            display: flex
            flex-direction: column
            gap: 1rem

            &-nesting
                width: 95%
                align-self: flex-end

        &-form
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            align-items: center

            &-text
                width: 100%
                border-radius: 8px
                border-color: variables.$boder-color
                padding: 1rem 1.5rem
                color: variables.$font-secondary-color
                font-size: 16px

            &-user
                &-image
                    width: 2.5rem

            &-button

                &-send
                    padding: 0.8rem 1.8rem
                    border-radius: 8px
                    border: none
                    background: variables.$font-tertiary-color
                    color: variables.$container-bg
                    font-weight: 500
                    font-size: 16px
